[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "json11"]
	path = json11
	url = https://github.com/dropbox/json11.git
[submodule "tgbot-cpp"]
	path = tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest/
